// Importing the _colors.scss file.

@import "_colors.scss";

html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
}

/* The main header of the website. */

// The top nav section

.top-nav-section {
    border-bottom: 1px solid $black_10;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    li {
        border-top: 3px solid white;
        transition: all 0.1s ease-in-out;
    }
    // Add a blue border when hover
    li:hover {
        border-top: 3px solid $blue_10;
    }
    li:active {
        border-top: 3px solid $blue_10;
    }
}

// The standard styling for any listed navigation.

.navigations {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin-right: 10px;
            display: inline-block;
            list-style-type: none;
            a {
                color: $black_30;
                text-decoration: none;
            }
        }
    }
}

// The middle header section

.middle-nav-section {
    border-bottom: 1px solid $black_10;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
}

// The Site logo area

.site-logo-area {
    color: $blue_30;
    // The site icon
    .fas {
        float: left;
        font-size: 4rem;
    }
    p {
        float: left;
        font-size: 1.5rem;
        margin: 0 0 0 5px;
        span {
            font-size: 2rem;
        }
    }
}

// The virtual assistant area

.virtual-assistant-area {
    position: relative;
    top: -40px;
    .virtual-assistant-image {
        background: url("https://image.shutterstock.com/image-photo/black-doctor-portrait-isolated-on-260nw-246995734.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        border: 2px solid $black_10;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        &:hover {
            cursor: pointer;
        }
    }
    p {
        text-align: center;
        span {
            font-weight: bold;
            color: $blue_40;
        }
    }
}

// The search bar area

.searchbar {
    form {
        .searchbar-div {
            border: 1px solid $black_20;
            border-radius: 5px;
            padding: 0 5px;
            input {
                border: none;
                padding: 0;
                font-size: 1rem;
                width: 300px;
                height: 25px;
                &:focus {
                    outline: none;
                }
            }
            button {
                color: $black_20;
                border: none;
                background: none;
                padding: 0;
                height: 30px;
                position: relative;
                right: 4px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// The jumbotron section

// Jumbotron image
.jumbotron-image {
    margin: auto;
    background: url("https://i2-prod.mirror.co.uk/incoming/article6419193.ece/ALTERNATES/s1200b/Cheerful-family-taking-selfie.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 80%;
}

// Jumbotron navigation

.jumbotron-navigation {
    display: flex;
    justify-content: center;
    // The linked navigation tabs.
    a {
        text-decoration: none;
        color: white;
        border-right: 1px solid white;
        &:last-child {
            border-right: none;
        }
    }
    // Each jumbotron div.
    div {
        background: $blue_30;
        padding: 10px 10px;
        transition: all 0.2s ease-in-out;
        // The last tab on the navigation.
        &:last-child {
            border-right: none;
        }
        &:hover {
            cursor: pointer;
            background: $blue_40;
        }
    }
}

// Jumbotron contents

.jumbotron-contents {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// Jumbotron title area

.jumbotron-title-area {
    text-shadow: 1px 1px 4px $black_40;
    color: white;
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.3rem;
        width: 350px;
    }
}

// The sign up form.

.jumbotron-form-area {
    box-shadow: 1px 1px 20px $black_20;
    padding: 25px;
    border-radius: 10px;
    background: white;
    a {
        font-size: 0.8rem;
        text-align: right;
        text-decoration: none;
        color: $blue_20;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        font-size: 0.8rem;
    }
    input {
        font-size: 1.2rem;
        height: 40px;
    }
}

.form-title {
    justify-content: space-around;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    h4 {
        margin: 0;
    }
    a {
        text-align: right;
    }
}

.form-contents {
    display: flex;
    flex-direction: column;
    button {
        font-weight: 300;
        font-size: 1.4rem;
        margin-top: 10px;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid $blue_40;
        background: none;
        color: $blue_40;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            color: white;
            background: $blue_40;
        }
    }
    p {
        text-align: center;
    }
}

// The jumbotron footer.

.jumbotron-footer-area {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
        border-radius: 5px;
        width: 200px;
        padding: 10px;
        color: white;
        background: $blue_40;
        p {
            font-size: 1.3rem;
            margin: 0;
        }
        a {
            font-size: 0.8rem;
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Member Discount Area

.member-discount-area {
    justify-content: space-around;
    background-color: $blue_5;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .member-discount-area-navigation {
        display: none;
    }
    .member-discount-title-area {
        h2 {
            color: $blue_40;
        }
        p {
            font-size: 1.3rem;
            width: 450px;
            line-height: 2;
        }
    }
    .member-discount-nav {
        text-align: justify;
        display: flex;
        flex-direction: column;
        a {
            color: $blue_30;
            width: 300px;
            font-size: 1.2rem;
            text-decoration: none;
        }
        .member-nav-container {
            border-radius: 10px;
            border-top: 1px solid white;
            display: flex;
            flex-direction: row;
            transition: all 0.2s ease-in-out;
            div {
                width: 300px;
                padding: 8px;
                i {
                    color: $blue_20;
                    float: right;
                }
            }
            &:hover {
                color: white;
                background: $blue_10;
                i {
                    color: white;
                }
            }
        }
    }
}

// End of Member Discount area -----------------------

// Save On Products Area

.save-on-section {
    table {
        thead {
            th {
                font-size: 3vw;
                color: $blue_30;
            }
        }
        tbody {
            td {
                width: 150px;
                text-align: center;
                i {
                    font-size: 7vw;
                    color: $blue_30;
                }
            }
            th {
                color: $blue_30;
                font-size: 2vw;
            }
        }
    }
}

// Members Section

.members-section {
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    background-image: url("https://agcdn-2mrybbgckm7omi0k.netdna-ssl.com/wp-content/uploads/2017/06/alphagamma-3-reasons-why-helping-people-is-not-always-good-for-business-entrepreneurship-1021x580.jpg");
}

// Donny chatbox

.donny-chatbox {
    margin: 0 10px 10px 0;
    border: 1px solid $blue_30;
    border-radius: 5px;
    background: white;
    opacity: 0;
    width: 250px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all 0.1s ease-in-out;
    .chatbox-header {
        display: flex;
        justify-content: space-around;
        color: white;
        background: $blue_40;
        h4 {
            margin: 0;
        }
        .min-close-area {
            .fa-window-minimize:hover {
                cursor: pointer;
            }
            .fa-times:hover {
                cursor: pointer;
            }
        }
    }

    // Where the text will be.

    .chatbox-text-area {
        // The actual chat.
        .chat {
            padding: 0px 5px;
            text-align: center;
            margin: auto;
            position: relative;
            width: 250px;
            height: 300px;
            overflow: scroll;
            p {
                text-align: justify;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                color: white;
                background-color: $blue_30;
                padding: 5px;
            }
        }
        // Client typing area.
        textarea {
            outline: none;
            resize: none;
            width: 230px;
            height: 50px;
            position: absolute;
            left: 6px;
            bottom: 20px;
        }
        button {
            font-size: 0.6rem;
            height: 15px;
            position: absolute;
            bottom: 1px;
            left: 100px;
        }
    }
}

/********************** MEDIA QUERIES *********************/

@media (min-width: 901px) {
    #mobile-header {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 900px) {
    #desktop-header {
        display: none;
    }
    .jumbotron-title-area {
        display: none;
    }
    .jumbotron-navigation {
        display: none;
    }
    .save-on-section {
        display: none;
    }
    .member-discount-area {
        display: block;
        text-align: center;
        p {
            display: none;
        }
        .member-discount-area-navigation {
            display: block;
            ul {
                margin: 0;
                padding: 0;
                a {
                    color: $blue_30;
                    width: 300px;
                    font-size: 1.2rem;
                    text-decoration: none;
                    li {
                        line-height: 1.5;
                        list-style-type: none;
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }

    /** THE MAIN MOBILE HEADER AREA **************************/

    #mobile-header {
        display: block;
        padding: 10px;

        .middle-nav-section-mobile {
            .virtual-assistant-area-mobile {
                .virtual-assistant-image-mobile {
                    background: url("https://image.shutterstock.com/image-photo/black-doctor-portrait-isolated-on-260nw-246995734.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin: auto;
                    border: 2px solid $black_10;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                p {
                    text-align: center;
                    span {
                        font-weight: bold;
                        color: $blue_40;
                    }
                }
            }

            .site-logo-area-mobile {
                text-align: center;
                color: $blue_30;
                // The site icon
                .fas {
                    font-size: 4rem;
                }
                p {
                    font-size: 1.5rem;
                    margin: 0 0 0 5px;
                    span {
                        font-size: 2rem;
                    }
                }
            }
            .searchbar-area-mobile {
                width: 100%;
                .searchbar-div {
                    width: 270px;
                    margin: auto;
                    input {
                        width: auto;
                    }
                    button {
                        display: none;
                    }
                }
            }
        }
    }
}
